.App {
  text-align: center;
}

.NavBar.desktop {
  background-color:white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:1;
  line-height: 100px;
}

.NavBar.mobile {
  background-color:white;
}

.center {
  text-align:center
}

.left {
  text-align:left
}

p {
  font-size: 1.1em;
}

.headline.desktop {
  font-size: 3vw
}

.headline.mobile {
  font-size: 5vw
}

.ui.card>.content.extra,
.ui.cards>.card>.content.extra {
  background-color: 243,244,245;
}

.ui.cards>.card>.content.extra.female {
  background-color: rgb(255,102,102,0.3);
}

.cosponsors {
  color:white;
}

.ui.cards>.card>.content.extra.red {
  background-color: rgb(231,70,64,0.9);
}

.ui.cards>.card>.content.extra.blue {
  background-color: rgb(14,78,193,0.9);
}

.ui.cards>.card>.content.extra.purple {
  background-color: rgb(155,103, 179, 0.9);
}

.ui.cards>.card>.content.extra.white {
  background-color: rgb(243,244,245);
}





.home.intro.mobile {
  color: grey;
  font-size: 3vw;
}

.home.intro.desktop {
  /* color: grey; */
  font-size: 10vw;
}
